<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="*">Vyntra</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="*">Products</a>
      </li>
    </ul>
    <div class="left-right">
    <ul class="navbar-nav uk-flex-right" id="right">
      <li class="nav-item float-right">
        <a class="nav-link" href="\cart">Cart</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link" href="\login">Login</a>
      </li>
    </ul>
</div>
  </nav>
