<div class="container">
    <h2> welcome </h2>
    <br>
    <h2>list of products</h2>
          
    <table class="table">
      <thead>
        <tr>
            <th>product id</th>
          <th>product image</th>
          <th>product name</th>
          <th>product cost</th>
          <th>stock</th>
          <th>description</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pro of product1">
            <td>{{pro.pid}}</td>
          <td>
            <img src="{{pro.img}}" alt="apple watch" width="100" height="100">
          </td>
          <td>{{pro.name}}</td>
          <td>{{pro.price}}</td>
          <td>{{pro.stock}}</td>
          <td>{{pro.about}}</td>
        </tr>
        
      </tbody>
    </table>
    
  </div>
